.authors{
    height: calc(100vh - 12rem);
}

.authors-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

/* MAKING THE AUTHOR PAGE RESPONSIVE */
@media screen and (max-width: 800px) {
    .authors-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.8rem;
    }
}