.posts-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

/* MAKING POSTS PAGE RESPONSIVE */
@media screen and (max-width: 800px) {
    .posts-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}